:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
  line-height: 1.1;
  color: #646cff;
  font-style: italic;
}

h2 {
  font-size: 24px;
  line-height: 1.1;
  color: #9ca1fc;
}

h3{
  font-size: 18x;
  line-height: 1.1;
  color: white;
  font-weight: 300;

}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.button-active{
  background-color: #646cff;
  transition: border-color 0.25s;
}

.arrow-button{
  font-size: 18px;
}

.arrow-button:hover{
  cursor: pointer;
  color: #646cff;
}

.arrow-button.expanded {
    transform: rotate(90deg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  background: #333;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  border-bottom: 2px solid #646cff;
}

.nav-item:focus{
  color: #646cff;
}

.menu-icon {
  display: none;
}

.devices-page{
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  max-width: 200px;
  padding: 10px 5px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table th {
  border-bottom: 1px solid #9ca1fc;
}

.secondary-table th{
  border-bottom: 1px solid #c6c9ff;
}

.table td {
  text-align: center;
}

.table tr{
  width: 100%;
}

.status-active {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.status-inactive {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.icon-button{
  font-size: 20px;
  color: white;
  transition: color 0.3s;
}

.icon-button:hover{
  color: #646cff;
}

.device-data-page{
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.device-data-container{
  display: flex;
  flex-direction: row;
}

.options-container{
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 20px;
  min-width: 160px;
}

.view{
  padding-left: 20px;
}

.charts-view{
  display: flex;
  align-items: center;
  justify-content: center;
}

.charts-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.chart-device{
  width: 100% !important;
  max-width: 550px;
  max-height: 400px;
  margin: 0 20px 40px;
}

.facts-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.facts-row > *{
  margin: 0;
}

.facts-row > :first-child{
  margin-right: 10px;
  min-width: 120px;
}

.arp-table-view{
  width: 100%;
}

.interfaces-table-view{
  width: 100%;
}

.bgp-neighbors-table-view{
  width: 100%;
}

.terminal-view{
  width: 100%;
}

.terminal-screen{
  width: 98%;
  height: 400px;
  background-color: #333;
  padding: 6px 1%;
  overflow-x: auto;
  border-radius: 4px;
}

.terminal-screen *{
  margin: 0;
}

.terminal-command{
  color: #646cff;
  font-size: 14px;
  font-style: italic;
}

.terminal-input-container{
  width: 100%;
}

.terminal-input{
  width: 98%;
  border: none;
  border-bottom: 1px solid #646cff;
  transition: all 0.3s ease;
  font-size: 18px;
  margin-top: 6px;
  padding: 6px 1%;
  border-radius: 4px;
}

.terminal-input:focus,
.terminal-input:hover{
  border: none;
}

.hosts-page{
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .device-data-container{
    flex-direction: column;
  }

  .options-container{
    width: 100%;
    padding-top: 0;
    max-width: 500px;
    margin: auto;
  }

  .view{
    padding-left: 0;
  }
}